/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #fff;
}

.navbar-brand {
  font-size: 32px;
  font-weight: bold;
  color: #438DB8;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: #666666;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #438DB8;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.register-button {
  background-color: white;
  border: 1px solid #666666;
  color: #666666;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.register-button:hover {
  background-color: #438DB8;
  border-color: #438DB8;
  color: #fff;
}

.user-icon {
  margin-right: 5px;
}

.icon-button {
  background-color: transparent;
  border: 2px solid #666666;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.icon-button:hover {
  border-color: #438DB8;
  background-color: #438DB8;
}

.icon {
  fill: transparent;
  stroke: rgba(0, 0, 0, 0.5);
  transition: stroke 0.3s ease;
}

.icon-button:hover .icon {
  stroke: rgba(0, 0, 0, 1);
}

/* Search form */
.search-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.search-input {
  border: none;
  outline: none;
  padding: 8px;
  width: 200px; /* Adjust the width */
  font-size: 14px;
}

.search-button {
  background-color: #438DB8;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 5px;
}

.search-button:hover {
  background-color: #365f77;
}
